$gradient: linear-gradient(180deg, #85888f 11.5%, #9da3ab 100%);
$white: rgba(255, 255, 255, 1);
$white-10: rgba(237, 245, 255, 0.1);
$white-20: rgba(237, 245, 255, 0.2);
$white-30: rgba(237, 245, 255, 0.3);
$white-60: rgba(237, 245, 255, 0.6);
$black: rgba(0, 0, 0, 1);
$black-30: rgba(0, 0, 0, 0.3);
$light-black: rgba(19, 19, 20, 1);
$gray: rgba(48, 50, 54, 1);
$light-gray: rgba(133, 136, 143, 1);
$max-width: 1840px;
$mob-max-width: 440px;
$blur: blur(20px);

.App {
  color: $white;
}

.hero-section {
  background: $gradient;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  height: 800px;
  justify-content: center;
  overflow: hidden;

  @media (max-width: $mob-max-width) {
    padding: 10px 20px;
    height: 969px;
  }
}

.hero-conatiner {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
}

.hero-bg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  @media (max-width: $mob-max-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.glass-promo {
  transform: translateX(-6%) translateY(2%);

  @media (max-width: $mob-max-width) {
    bottom: 0;
    transform: translateX(-3%) translateY(24%);
  }
}

.hand-promo {
  position: absolute;
  width: 563px;
  height: 775px;
  transform: translateX(-23%) translateY(11%);

  @media (max-width: $mob-max-width) {
    bottom: 0;
    width: 397px;
    height: 546px;
    transform: translateX(-13.5%) translateY(10%);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  backdrop-filter: $blur;

  @media (max-width: $mob-max-width) {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.logo-header {
  width: 136px;
  height: 22px;

  @media (max-width: $mob-max-width) {
    width: 80px;
    height: 22px;
    z-index: 5;
  }

  &:hover {
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  gap: 32px;
  justify-content: space-between;

  @media (max-width: $mob-max-width) {
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.nav-link {
  font-family: Inter;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;
  text-decoration: none;
  color: $white;

  @media (max-width: $mob-max-width) {
    font-size: 60px;
    line-height: 94%;
    letter-spacing: -5.5%;
  }

  &.active {
    color: $light-gray;
  }
}

.button-menu {
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background: $black;
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  z-index: 4;

  &.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 2;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.disclaimer {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $white;
}

.button-tertiary {
  color: $white;
  border: none;
  background: $white-10;
  z-index: 5;
  border-radius: 64px;
  transition: background 0.3s;

  &.S {
    padding: 6px 12px 6px 12px;
    font-family: Inter;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0%;
  }

  &.M {
    padding: 6px 14px 6px 14px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
  }

  &:hover {
    cursor: pointer;
    background: $white-20;
  }
}

.container-nav-and-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 64px;
}

.hero-content {
  display: flex;
  gap: 32px;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  @media (max-width: $mob-max-width) {
    margin: 0;
    width: 100%;
    justify-content: start;
  }
}

.hero-heading {
  font-family: Inter;
  font-weight: 500;
  font-size: 96px;
  line-height: 94%;
  letter-spacing: -0.02em;

  margin: 0;
  margin-top: 90px;

  @media (max-width: $mob-max-width) {
    font-size: 60px;
    line-height: 94%;
    margin-top: 70px;
  }
}

.hero-paragraph {
  font-family: Inter;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;
  margin: 0;
}

.button-primary {
  border: none;
  z-index: 5;
  border-radius: 80px;
  transition: background 0.3s;
  font-family: Inter;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;

  &.S {
    padding: 13px 24px 14px 24px;
  }

  &.M {
    padding: 17px 28px 18px 28px;
  }

  &.white {
    background: $white;
    color: $black;
  }

  &.black {
    background: $black;
    color: $white;
  }

  &:hover {
    cursor: pointer;
    background: $gray;
    color: $white;
  }
}

.button-secondary {
  color: $white;
  border: none;
  background: $white-10;
  z-index: 5;
  border-radius: 80px;
  transition: background 0.3s;
  font-family: Inter;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;

  &.S {
    padding: 13px 24px 14px 24px;
  }

  &.M {
    padding: 17px 28px 18px 28px;
  }

  &:hover {
    cursor: pointer;
    background: $white-20;
  }
}

.hero-info {
  display: grid;
  gap: 32px;
}

.container-hero-btns {
  display: flex;
  gap: 10px;
}

.marquee-section {
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 259px;
  color: $light-gray;
  gap: 60px;

  @media (max-width: $mob-max-width) {
    height: 202px;
    gap: 20px;
  }
}

.marquee-content {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  font-family: Inter;
  text-align: center;

  @media (max-width: $mob-max-width) {
    font-size: 16px;
    line-height: 140%;
    width: 254px;
    height: 44px;
  }
}

.marquee {
  position: relative;
  width: 100%;
  height: 92px;
  overflow: hidden;
}

.company-container {
  position: relative;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 110px;
}

.company-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 110px;
  animation: company-scroll 60s linear infinite;

  a {
    cursor: pointer;
  }

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: $mob-max-width) {
    gap: 40px;
  }
}

@keyframes company-scroll {
  0% {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(-0%, 0px, 0px);
  }

  100% {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(-100%, 0px, 0px);
  }
}

.card-section {
  height: 828px;
  background: $black;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;

  @media (max-width: $mob-max-width) {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    height: 798px;
    justify-content: end;
  }
}

.card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;

  @media (max-width: $mob-max-width) {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    height: 798px;
    justify-content: end;
  }
}

.card-bg {
  pointer-events: none;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 0;

  @media (max-width: $mob-max-width) {
    width: 100%;
  }
}

.hand-with-card {
  opacity: 0;
  mask-image: linear-gradient(to left, black 70%, transparent 90%);
  -webkit-mask-image: linear-gradient(to left, black 70%, transparent 90%);

  &.animate {
    opacity: 1;
    animation: handEnter 1s ease-out forwards;

    @media (max-width: $mob-max-width) {
      animation: handEnterMob 1s ease-out forwards;

      position: relative;
      width: 564px;
      transform: none;
    }
  }
}

@keyframes handEnter {
  0% {
    transform: translateX(-100%) translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(-15%) translateY(0%);
    opacity: 1;
  }
}

@keyframes handEnterMob {
  0% {
    transform: translateX(-100%) translateY(17%);
    opacity: 0;
  }
  100% {
    transform: translateX(-26%) translateY(-13%);
    opacity: 1;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  z-index: 1;
  gap: 48px;

  @media (max-width: $mob-max-width) {
    width: 100%;
    gap: 32px;
  }

  h2 {
    color: $white;
    font-family: Inter;
    font-size: 72px;
    line-height: 94%;
    letter-spacing: -0.02em;
    margin: 0;
    max-width: 800px;

    @media (max-width: $mob-max-width) {
      font-weight: 500;
      font-size: 48px;
      line-height: 94%;
      letter-spacing: -5.5%;
      text-align: center;
    }
  }

  p {
    color: $light-gray;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
    width: 78%;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 18px;
      line-height: 135%;
      letter-spacing: 0%;
      text-align: center;
      padding: 0 20px;
      width: auto;
    }
  }
}

.accent {
  color: $light-gray;
}

.app-section {
  background: $black;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 640px;
  box-sizing: border-box;

  @media (max-width: $mob-max-width) {
    padding: 0 20px;
    height: 722px;
  }
}

.app-container {
  background: $light-black;
  height: 100%;
  width: 100%;
  border-radius: 24px;
  padding: 64px;
  box-sizing: border-box;
  display: flex;
  max-width: $max-width;

  @media (max-width: $mob-max-width) {
    padding: 0 20px;
    height: 722px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    gap: 76px;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 48px;

  @media (max-width: $mob-max-width) {
    width: 100%;
    gap: 32px;
  }

  h2 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 72px;
    line-height: 94%;
    letter-spacing: -5.5%;
    margin: 0;
    width: 80%;

    @media (max-width: $mob-max-width) {
      font-size: 48px;
      line-height: 94%;
      letter-spacing: -0.02em;
      width: 100%;
    }
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 135%;
    margin: 0;
    width: 80%;
    color: $light-gray;

    @media (max-width: $mob-max-width) {
      width: 100%;
    }
  }
}

.app-bg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;

  @media (max-width: $mob-max-width) {
    width: 100%;
  }
}

.container-phone-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;

  .tooltip {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
    position: absolute;
    background: $black-30;
    backdrop-filter: blur(10px);
    padding: 20px;

    @media (max-width: $mob-max-width) {
      padding: 10px;
      backdrop-filter: blur(6px);
    }

    &.balance {
      width: 140px;
      top: 115px;
      left: -155px;
      border-radius: 20px 20px 0 20px;

      @media (max-width: $mob-max-width) {
        width: 90px;
        top: 13px;
        left: -53px;
        border-radius: 10px 10px 0 10px;
      }
    }

    &.button {
      width: 133px;
      top: 375px;
      left: 355px;
      border-radius: 20px 20px 20px 0;

      @media (max-width: $mob-max-width) {
        width: 77px;
        top: 182px;
        left: 160px;
        border-radius: 10px 10px 10px 0;
      }
    }

    p {
      font-family: Inter;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      color: $white;
      margin: 0;

      @media (max-width: $mob-max-width) {
        font-size: 10px;
      }
    }

    span {
      font-family: Inter;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
      color: $light-gray;

      @media (max-width: $mob-max-width) {
        display: inline-block;
        font-size: 10px;
      }
    }
  }

  &:hover .tooltip {
    opacity: 1;
    transform: scale(1);
  }
}

.customize-section {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  overflow: hidden;
  height: 1545px;
  box-sizing: border-box;
  gap: 155px;

  @media (max-width: $mob-max-width) {
    gap: 10px;

    height: 821px;
  }
}

.customize-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  z-index: 1;

  @media (max-width: $mob-max-width) {
    padding: 10px;
    box-sizing: border-box;
    gap: 32px;
    width: 100%;
  }

  h1 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 96px;
    line-height: 94%;
    text-align: center;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 48px;
      text-align: center;
    }
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
    text-align: center;
    color: $light-gray;
    width: 85%;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 18px;
      line-height: 135%;
      width: 94%;
    }
  }
}

.customize-bg {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  .customize-cards {
    width: 613px;
    height: 829px;
    z-index: 1;
    transform: translateX(9%);

    @media (max-width: $mob-max-width) {
      width: 277px;
      height: 375px;
      transform: translateX(4%);
    }
  }

  .customize-glass-cards {
    position: absolute;
    width: 100%;
    max-width: $max-width + 80px;
    transform: translateY(-13%);

    @media (max-width: $mob-max-width) {
      width: 170%;
      transform: translateX(0%) translateY(-15%);
    }

    @media (min-width: ($max-width + 81px)) {
      mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
      );
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
      );
    }
  }
}

.faqs-section {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1315px;
  box-sizing: border-box;
  padding: 40px;

  @media (max-width: $mob-max-width) {
    padding: 20px;
    height: 1001px;
  }
}

.faqs-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;

  @media (max-width: $mob-max-width) {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
}

.faqs-content-accordion {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 50px;

  @media (max-width: $mob-max-width) {
    width: 100%;
    gap: 32px;
  }
}

.faqs-info-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 50px;

  @media (max-width: $mob-max-width) {
    width: 100%;
  }

  h2 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 72px;
    line-height: 94%;
    letter-spacing: -0.02em;
    color: $white;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 48px;
    }
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
    color: $light-gray;
    margin: 0;
  }
}

.special-link {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;

  background: linear-gradient(
    338.26deg,
    #8fc1ff -41.31%,
    #bae8f5 51.47%,
    #b8faf2 123.84%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  text-decoration: none;

  &:hover {
    background: none;
    -webkit-background-clip: border-box;
    background-clip: text;
    -webkit-text-fill-color: $white-60;
    color: $white-60;
  }
}

.faqs-accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  @media (max-width: $mob-max-width) {
    gap: 10px;
  }
}

.accordion-item-container {
  display: flex;
  justify-content: space-between;
  background: $light-black;
  border-radius: 24px;
  padding: 32px;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $mob-max-width) {
    padding: 16px;
  }
}

.accordion-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 67%;

  .accordion-content {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding-top: 0;
  }

  &.active .accordion-content {
    padding-top: 32px;
  }

  @media (max-width: $mob-max-width) {
    width: 100%;
  }

  h3 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    color: $white;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 18px;
      line-height: 135%;
    }
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;

    color: $light-gray;
    margin: 0;

    @media (max-width: $mob-max-width) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

.accordion-item-button {
  background: none;
  border: none;
  padding: 0;
}

.footer-section {
  background: $light-gray;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 720px;
  box-sizing: border-box;
  padding: 40px;

  @media (max-width: $mob-max-width) {
    height: 806px;
    padding: 20px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: $max-width;
}

.footer-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: $mob-max-width) {
    flex-direction: column-reverse;
  }
}

.footer-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: $mob-max-width) {
    justify-content: start;
    align-items: start;
  }

  img {
    width: 669px;

    @media (max-width: $mob-max-width) {
      width: 262px;
    }
  }
}

.footer-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mob-max-width) {
    gap: 48px;
  }
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $mob-max-width) {
    flex-direction: column-reverse;
    gap: 48px;
  }
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  width: 43.4%;
  gap: 16px;

  @media (max-width: $mob-max-width) {
    width: 100%;
    gap: 24px;
  }

  p {
    font-family: Inter;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
    color: $white;
    margin: 0;
  }
}

.subscribe-form {
  display: flex;
  gap: 16px;

  @media (max-width: $mob-max-width) {
    flex-direction: column;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $mob-max-width) {
    gap: 10px;
  }

  input {
    background: 0;
    border: 1px solid;
    border-radius: 80px;
    border-color: $white-30;
    padding: 17px 28px 18px 28px;
    box-sizing: border-box;
    width: 100%;
    color: $white-60;

    font-family: Inter;
    font-size: 18px;
    line-height: 135%;

    @media (max-width: $mob-max-width) {
      padding: 13px 24px 14px 24px;
    }
  }

  input::placeholder {
    color: $white-60;
  }

  input:focus {
    outline: none;
    border-color: $white-60;
  }

  small {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: $white;

    @media (max-width: $mob-max-width) {
      font-size: 12px;
    }
  }
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $mob-max-width) {
    gap: 24px;
  }

  p {
    font-family: Inter;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
    color: $white;
    margin: 0;
  }
}

.social-container {
  display: flex;
  gap: 16px;
}

.social-item {
  color: $white;
  border: none;
  background: $white-10;
  border-radius: 1000px;
  transition: background 0.3s;
  box-sizing: border-box;

  &.S {
    width: 51px;
    height: 51px;
    padding: 14px;
  }

  &.M {
    width: 59px;
    height: 59px;
    padding: 16px;
  }

  &:hover {
    cursor: pointer;
    background: $white-20;
  }
}

.link {
  font-family: Inter;
  letter-spacing: 0%;
  line-height: 135%;
  text-decoration: none;
  color: $white;

  &.S {
    font-size: 14px;
    color: $white-60;

    &:hover {
      color: $white;
    }

    &.accent {
      color: $white;

      &:hover {
        color: $white-60;
      }
    }
  }

  &.M {
    font-size: 18px;
    text-align: right;

    color: $white;

    &:hover {
      color: $white-60;
    }
  }

  &.active {
    color: $white-60;
  }
}

.legal-and-app-store {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;

  @media (max-width: $mob-max-width) {
    align-items: start;
    gap: 24px;
    flex-direction: column-reverse;
  }
}

.legal-container {
  display: flex;
  gap: 24px;

  @media (max-width: $mob-max-width) {
    flex-wrap: wrap;
    align-items: start;
    gap: 16px;
  }
}

.app-store-container {
  display: flex;
  gap: 16px;
  height: 48px;

  @media (max-width: $mob-max-width) {
    gap: 10px;
    height: 43px;
  }

  img {
    height: 100%;
  }
}
